@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
// COLORS
$color-white: #fff;
$color-black: #000;

$color-dark: #141414;
$color-dark-light:#8A8A8A;
$color-dark-lighter:#F2F2F2;

$header-height:3rem;
// FONT WEIGHT
$font-medium:500;
$font-semi-bold:600;
$font-bold:700;

// FONT AND TYPOGRAPHY
$body-font:'Poppins',sans-serif;
$big-font-size: 2rem;
$biggger-font-size: 2.4rem;//24px
$biggest-font-size: 3.2rem; //32px
$h2-font-size: 2rem; //20px
$normal-font-size: 1.5rem;//15px
$smaller-font-size: 1.3rem;//13px
// MARGENES
$md-1: .8rem; //8px
$md-2: 1.6rem; //16px
$md-3: 2.4rem; //24px
$md-4: 3.2rem; //32px
$md-5: 4rem; //40px
$md-6: 4.8rem;//48px
//Z-INDEX
$z-fixed:100;
//ROTATE img
$rotate-img:rotate(-30deg);

// @media screen and (min-width:768px){
//     :root{
//         $big-font-size: 2.4rem;//24px
//         $biggger-font-size: 3.2rem;//32px
//         $biggest-font-size: 4.5rem;//48px
//         $normal-font-size: 1.6rem;//16px
//         $smaller-font-size: 1.4rem;//14px
//     }
// }



//CLASS CSS

//LAYOUT












