.nav{
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;  

    @media screen and (max-width:768px){
        &__menu{
            position: fixed;
            top: $header-height;
            left: -100%;
            width: 70%;
            height: 100vh;
            padding: 3.2rem;
            background-color: $color-white;
            transition: .5s;
        }
    }

    &__item{
        margin-bottom: $md-4;
    }

    &__logo{
        font-weight: $font-semi-bold ;
    }

    &__toggle, &__shop{
        font-size:2rem ;
        cursor: pointer;
    }
}

.show{
    left: 0;
}